@model IEnumerable<VideoGameSellers.ASP.Models.PlatformModel>


@foreach (var item in Model)
{
    <div class="d-flex align-items-center list rounded mt-2">
        <img src="~/@item.Picture.Url" class="listImage" />
        <div class="ml-2">
            <h4 class="m-0">@item.Name</h4>
            <p class="m-0">@item.Description</p>
            <p class="m-0">Appearance : @item.Appearance.ToLocalTime()</p>
            @Html.ActionLink("See more", "Single", new { Id = item.Id })
        </div>
    </div>
}
