@model VideoGameSellers.ASP.Models.PlatformModel

<div class="list">
    <div class="d-flex align-items-center rounded">
        <img src="~/@Model.Picture.Url" class="detailImage" />
        <div class="ml-2">
            <h4 class="m-0">@Model.Name</h4>
            <p>Appearance : @Model.Appearance.ToLocalTime()</p>
        </div>
    </div>
    <hr />
    <p>@Model.Description</p>
</div>