@model IEnumerable<Models.Model.SaleTransactionModel>

@foreach (var item in Model) {
<div class="mt-2">
    @if (item.Type == VideoGameSellers.ASP.Models.Enum.SaleTransactionType.Buyed)
    {
        <h4 class="bg-info rounded text-white m-0">Vous avez achetez cette vente pour @item.Price€</h4>
    }
    else if (item.Type == VideoGameSellers.ASP.Models.Enum.SaleTransactionType.Bid)
    {
        <h4 class="bg-info rounded text-white m-0">Vous avez enchéri cette vente pour @item.Price€</h4>
    }
    else
    {
        <h4 class="bg-info rounded text-white m-0">Vous avez vendu cette vente pour @item.Price€</h4>
    }
    <partial name="saleView" model="item.Sale"/>
</div>
<hr />
}
